<%- include('partials/nav'); -%>

  <body>
      <div class="main">
      <div class="left">
          
       <!-- Default dropend button -->
       <%- include('partials/left'); -%>

    <div class="right">
        <div class="card" style="width: 100rem;">
            <img class="card-img-top" src="./yoga.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Yoga</h5>
              <a href="/yoga" class="btn btn-primary">Get started</a>
            </div>
          </div>
          <div class="card" style="width: 100rem;">
            <img class="card-img-top" src="/ask-a-trainer-bicep-curl.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bicep Curl</h5>
              <a href="/bicepcurl" class="btn btn-primary">Get started</a>
            </div>
          </div><br>
          <div class="card" style="width: 100em;">
            <img class="card-img-top" src="/how-to-squat-common-mistakes-1200x800-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Squats</h5>
              <a href="/squats" class="btn btn-primary">Get started</a>
            </div>
          </div>
          <div class="card" style="width: 100em;">
            <img class="card-img-top" src="/1109-jumping-rope-4.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jump Rope</h5>
              <a href="/jumprope" class="btn btn-primary">Get started</a>
            </div>
          </div>
    </div>
  </div>

        </body>
        <style>
            .card{
              width: 1000px;
              height: 500px;
                margin: 1em;
            }
            
            .right{display: flex;
                flex: auto;
                align-content: flex-start;
                width: 900px;
                height: 500px;
        
            }
            .left{
                display: flex;
                margin-left: 0em;
            }
        </style>
</html>